body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #555879;
}

.slider-text
{
    margin: 4px;
}

.title 
{
    margin: 2px;
    font-size: 35px;
}

.color-grid {
    overflow: hidden;
    max-width: 700px;
    max-height: 700px;
    display: flex;
    border: 5px solid #DED3C4;
    background-color: white;
    border-radius: 50px;
}

.container {
    display: flex;
    gap: 20px;
}

.options {
    background-color: #98A1BC;
    border: 5px solid #DED3C4;
    width: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}

.options .header {
    margin-top: 12px;
    font-size: 32px;
}

.square {
    border: 2px solid black;
}

.line {
    display: flex;
    flex-direction: column;
}

.slider {
    width: 1000px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer-text {
    font-size: 24px;
}