body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
}

.square  {
    border: 2px solid black;
    width: 48px;
    height: 48px;
}

.line {
    display: flex;
    flex-direction: column;
}

.colored {
    background-color: blue;
}

.slider {
    padding: 0 320px;
}